@mixin menu-nawigacyjne {
    ul {
        padding: 0;
        margin: 0;
        
        li {
            display: inline-block;
            a {
                color: $font;
                &:hover {
                    color: red;
                }
            }
        }
    }
    
}
@mixin custom-border-radius($brd) {
    border-radius: $brd /2;
}
