/*GENERAL STYLE*/

span {
    color: #1ac056;
}

section {
    padding: 0 80px 100px;
}

h2 {
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #291f1a;
    margin: 0;
    padding: 0;
}

/*GENETAL STYLES- END*/

/*NAVIGATION - START*/

a {
    text-decoration: none;
    transition: all 0.3s;
}

nav {
    width: 100%;
    height: 70px;
    background-color: red;
    position: fixed;
    top: 0;
    z-index: 100;

}

nav ul > li {
    display: inline-block;
    text-align: center;
    float: right;
    padding: 20px 30px;
}

nav a {
    font-weight: 900;
    color: #1ac056;

}

nav a:hover {
    color: #291f1a;
}


/*NAVIGATION- END*/

/*HEADER START*/

#main-header {
    background-image: url("../img/header-background.jpg");
    height: 800px;
    background-position: center;
    background-size: cover;
    color: #fff;
}

#main-header .header-content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#main-header .header-content h1 {
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}

#main-header .header-content span {
    font-weight: 700;

}

#main-header .header-content h2 {
    font-weight: 300;
    font-size: 2em;
}

#about {
    background-color: #f9fcfe;
    overflow: hidden;
}

#about figure {
    width: 50%;
    float: left;
    text-align: center;
    margin: 0;

}

#about figure img {
    max-height: 350px;
    max-width: 100%;
    border: 10px solid #fff;
    border-radius: 15px;
}

#about article {
    width: 50%;
    float: left;
}

/*HEADER END*/

/*SKILLS START*/


#skills .skills-icons {
    text-align: center;

}


#skills .skills-icons .skills-icons-item {
    display: inline-block;
}

/*SKILLS END*/

/*MY PORTFOLIO*/

section#my-portfolio {
    font-weight: 300;
    width: 100%;
    height: 500px;
}

#my-portfolio .pictures {
    display: inline-block;
    width: 390px;
    height: 390px;
    float: left;
    background-size: cover;
    background-position: center;
    margin: O auto;
    position: relative;
    text-align: center;
    width: 33%;
}


#my-portfolio #my-portfolio-img #pictures-item1 {
    background-image: url(../img/portfolio1.jpg);
}

#my-portfolio #my-portfolio-img #pictures-item2 {
    background-image: url(../img/portfolio2.jpg);
}

#my-portfolio #my-portfolio-img #pictures-item3 {
    background-image: url(../img/portfolio4.jpg);
}

.mask-out {
    opacity: 1;
    width: 100%;
    height: 100%;
    padding: 7px;
    position: relative;
    transition: all 0.3s easy-in-out;
}

.mask-out:hover {
    background-color: rgba(42, 61, 79, 0.8);
}

.mask-tlo:hover {
    opacity: 1;
}

.mask-tlo {
    position: relative;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(42, 61, 79, 0.8);
}

.mask-tekst h3, h4 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 5%;
    letter-spacing: 1px;
    transform: translate Y(-50%);

}
.mask-tekst > p {
    color: white;
}

.mask-tekst .fa-link {
    margin-top: 40px;
    font-size: 40px;
    color: white;
    position: relative;
    transform: translate X(-50%);
}

#contact {
    width: 100%;
    height: 500px;
    background-color: #2A2C5A;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
}

#contact div { 
    display: inline-block;
    float: left;
}

#contact div:nth-child(1) {
    width: 40%;
    height: 500px;
    padding: 30px;
}

#contact div:nth-child(2) {
    width: 60%;
    height: 500px;
}

#adres {
    margin-left: 20px;
}
#adres hgroup {
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: white;
}

/*MY PORTFOLIO END*/

/*FOOTER*/

footer {
background-color: blue;
color: white;
padding: 1px;
width: 100%;
height: 60px;
}

/*FOOTER-END*/


/*RWD*/


@media 




